{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - CSV{% endblock %}

{% block stylesheets %}
            {{parent()}}
			<link href="../css/styles.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<h1 class="text-center text-primary p-4">
			Modifier un frigo
		</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-8 p-4 m-0 text-primary">
            
           
                
               <div id="TBL"></div>
                
           
        </div>
	</div>
</div>
Nombre de colonnes a ajouter :
<input type="number" min="1" id="nombreColonne" value="" required="required">
Nombre de lignes a ajouter :
<input type="number" min="1" id="nombreLigne" value="" required="required">
<button type="button" class="btn btn-primary" onclick="createFrigo()">Créer </button>

{% endblock %}
      
{% block javascripts %}
{{parent()}}
    <script>
    var nombreColonne = 0;
     var nombreLigne = 0;
        function createFrigo(){
        nombreColonne = document.getElementById('nombreColonne').value;
        nombreLigne = document.getElementById('nombreLigne').value;
        console.log(nombreLigne);
        console.log(nombreColonne);
        var body = document.getElementById("TBL");
        var table= document.createElement('TABLE');
        table.setAttribute("class", "table table-hover");
        var tblB = document.createElement('TBODY');
        table.appendChild(tblB);
        for (var i=0; i<nombreLigne; i++){
            var tr = document.createElement('TR');
             if( i == nombreColonne-1){
                     tr.innerHTML =  "C"+i;
                }
            
            tblB.appendChild(tr);

            for (var j=0; j< nombreColonne; j++){
                var td = document.createElement('TD');
              
                
                tr.appendChild(td);

            }
           
        }
        console.log(table);
        body.appendChild(table);}
    </script>
{% endblock %}