{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Calibres{% endblock %}




{% block content %}
    <div class="container-fluid">
        <main class="row">
            <div class="col">
                <h1 class="text-center" >Frigo 3</h1>

                <div id="table-container"></div>
            </div>
        </main>
        <footer class="row">
            <div class="col">
                <hr>
            </div>
            <button onclick="recupDonnees()">test</button>
        </footer>
    </div>

    {% block javascripts %}
	{{parent()}}
    <script>
        function format_link(link) {
            if (link)
                return "<a href='" + link + "' target='_blank'>" + link + "</a>";
            else return "";
        }

        CsvToHtmlTable.init({
            csv_path: "csv/Frigo3v2.csv",
            element: "table-container",
            allow_download: false,
            csv_options: {
                separator: ";",
                delimiter: '"'
            },
            datatables_options: {
                paging: false
            },
            custom_formatting: [
                [4, format_link]
            ]
        });


        function recupDonnees() {
            
            var tableauResult = [];
            
            for (let i = 0; i <= 19; i++) {
                 var monTableau = [];
                
                 for (let a = 0; a < 9; a++) {
                
                    monTableau.push(document.getElementsByTagName('table')[0].getElementsByTagName('tr')[i].cells[a].innerHTML) ;

        }
           tableauResult.push(monTableau)
        }
        console.log(tableauResult);}
    </script>
	{% endblock %}
{% endblock %}