{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Calibres{% endblock %}




{% block content %}
    <div class="container-fluid">
		<div class="row justify-content-center">
			
		</div>
		
	</div>

      


{% endblock %}

{% block javascripts %}
	{{parent()}}

    <script>
        function format_link(link) {
            if (link)
                return "<a href='" + link + "' target='_blank'>" + link + "</a>";
            else return "";
        }

        CsvToHtmlTable.init({
            csv_path: "../public/csv/MOCK_DATA.csv",
            element: "table-container",
            allow_download: true,
            csv_options: {
                separator: ",",
                delimiter: '"'
            },
            datatables_options: {
                paging: false
            },
            custom_formatting: [
                [4, format_link]
            ]
        });
    </script>

{% endblock %}